.card-label__container{
	bottom:90px;
	position: absolute;
	right: 0;
}

.card-label__content{
	align-items: center;
	background-color: #0d0d0d;
	color: white;
	display: flex;
	font-size: 12px;
	font-family: 'Segoe UI';
	font-weight: bold;
	height: 40px;
	justify-content: center;
	padding: 0px 50px;
}